@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: #3730A3
    ;
    color: white;
}
/* navbar styling starts */
.navbar{
    background-color:#4F46E5;
    border-radius: 0.2rem;
    text-align: right;
    padding: 2rem;
}

.navbar-item-inline{
    display: inline;
    margin: 1rem;
    padding: 0.5rem;
}
.inline-item{
    font-size: large;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

.inline-item:hover{
    font-size: larger;
}

/* navbar styling ends */
.container{
    display: flex;
    flex-direction: column;
    padding: auto;
    margin: auto;
    text-align: center;
    width: 50vw;
    padding: 2rem;
}

.intro{
    border-radius: 0.2rem;
    border: 2px;
    border-style:groove;
    border-color:#818CF8;
    padding: 1rem;
    margin: 1rem;
    font-size: 1rem;
    font-weight: bolder;
}

label{
    padding-top: 1rem;
    text-align: left;
    font-size: x-large;
    font-weight: bold;
}

input{
    padding: 0.6rem;
    border-radius: 0.2rem;
    border-color: #818CF8;
    
}

button{
    padding: auto;
    margin: auto;
    text-align: center;
    width: 22vw;
    font-weight: bolder;
    font-size: x-large;
    border-radius: 0.2rem;
    padding: 0.3rem;
    margin-top: 1rem;
    background-color: #4F46E5;
    border-style:groove;
    border-color:#818CF8;
    color: white;

}

#output-box{
    padding: 1rem;
    font-size: x-large;
    font-weight: bolder;
}

.link 
{
    text-decoration: none;
    padding: 0.4rem 0.4rem;
    transition: 0.5s;
}

.list-non-bullet
{
    list-style: none;
}

.list-item-inline
{
    display: inline;
    padding: 0.5rem, 1rem;
}

.footer
{
    width: 100%;
    padding: auto;
    margin: auto;
    text-align: center;
    background-color:#4F46E5 ;
    /* color: ; */
    border-bottom-right-radius: 1rem;
    position: fixed;
    bottom:0 ;
    padding: 2rem;

}

.footer .link
{
 color:white;
 font-weight: bold;
}

.footer .ul 
{
    padding-inline-start: 0;
}